= title "Prijava"

- form_for :session, :url => session_path do |form|
  .personals
    %p
      = form.label :email
    %p
      = form.text_field :email
  .elsewheres
    %p
      = form.label :password, "Geslo"
    %p
      = form.password_field :password
    %p
      = form.check_box :remember_me
      = form.label :remember_me, "Hočem piškotek"
    
  .buttons
    = form.submit "Prijava", :disable_with => "Prosimo počakajte..."