- form_for @presentation do |form|
  .personals
    %p
      = form.label :title, "Naslov"
    %p
      = form.text_field :title

    %p
      = form.label :speaker, "Predavatelj"
    %p
      = form.text_field :speaker

    %p
      = form.label :url, "Povezava <span class='instruct'>PDF / PPT / Slideshare</span>"
    %p
      = form.text_field :url

    %p
      = form.label :location, "Lokacija"
    %p
      = form.text_field :location

    %p
      = form.label :date_of, "Datum"
    %p
      = form.date_select :date_of
  .elsewheres
    %p
      = form.label :description, "Opis"
    %p
      = form.text_area :description
    %p.instruct
      == Oblikuj besedilo z #{link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax'}.

  .buttons
    = form.hidden_field :user_id
    = form.submit 'Shrani', :disable_with => 'Prosimo počakajte...'
    - unless @presentation.new_record?
      %p.crud.remove
        = link_to 'Odstrani', presentation_path(@presentation), :method => :delete, :confirm => 'Ste prepričani, da želite odstraniti predavanje?'
    
