= title "Predavanja"
- collection.each do |presentation|
  .presentation
    %h2
      = link_to presentation.title, presentation
    %p.speaker
      == by #{presentation.speaker}
    .description
      = presentation.description_html
      
= will_paginate collection

%p.crud
  = link_to "Novo predavanje", new_presentation_path