#show
  .ribbon
    .row
      .crud
        %p= link_to 'Uredi', edit_presentation_url(@presentation)
      %h2= link_to @presentation.title, @presentation.url
      %ul.details
        - unless parse_presenter(@presentation).nil? || parse_presenter(@presentation).empty?
          %li.clearfix
            .detail= parse_presenter(@presentation)
            .label Kdo
        - unless @presentation.location.nil? || @presentation.location.empty?
          %li.clearfix
            .detail= @presentation.location
            .label Kje
        - unless @presentation.date_of.nil?
          %li.clearfix
            .detail=@presentation.date_of.to_s(:fancy_date)
            .label Kdaj
        %li.clearfix.last
          .detail= @presentation.description_html
          .label Kaj
        -#- unless @presentation.embed.nil? || @presentation.embed.empty?
          -#%li.clearfix
            -#.detail= @presentation.embed
            -#.label Watch
