= title link_to(@presentation.title, @presentation.url)
.details
  %p.speaker
    == by #{@presentation.speaker}
  - unless @presentation.location.nil? || @presentation.location.empty?  
    %p.location
      = @presentation.location
  - unless @presentation.date_of.nil?
    %p.date
      = @presentation.date_of.to_s(:fancy_date)
  .description
    = @presentation.description_html
    %p.link= link_to "Povezava do predavanja", @presentation.url
  -#- unless @presentation.embed.nil? || @presentation.embed.empty?
    -#%li.clearfix
      -#.detail= @presentation.embed
      -#.label Watch
.crud
  %p= link_to 'Uredi', edit_presentation_url(@presentation)