= title "Urejanje diskusije"
= error_messages_for :topic

- form_for @topic do |form|
  %fieldset
    %div
      = form.label :title, "Naziv"
      %div= form.text_field :title

    .buttons
      %p= form.submit 'Shrani', :disable_with => 'Prosimo počakajte...'
