= title "Diskusije"

%table
  - @topics.each_with_index do |topic, i|
    %tbody{:class => "topic_#{i}"}
      %tr
        %td.topicinfo
          %h3= link_to topic, topic_posts_path(topic)
        %td.postcount
          %p.posts= pluralize_posts topic.posts.count
      %tr
        %td.time_and_owner
          %p
            = l topic.created_at, :format => :simple
            by
            - img = image_tag topic.user.gravatar_url(:size => 16)
            = link_to img + " " + topic.user.to_s, topic.user
        %td.crud
          - restrict_to_admin do
            %p
              = link_to 'Uredi', edit_topic_path(topic)
              |
              = link_to 'Odstrani', topic_path(topic), :confirm => 'Ste prepriÄani?', :method => :delete

.ctrl
  %p.crud
    = link_to 'Nova diskusija', new_topic_path
  
  = will_paginate @topics