- form_for @user do |form|
  .personals
    %p
      = form.label :email, "E-mail"
    %p
      = form.text_field :email
    %p.instruct
      Email je uporabljen za
      = link_to "gravatar", 'http://gravatar.com'
    %p.instruct.compounded
      Zaznali smo, da GMail naše potrditvene maile včasih uvrsti med spam. 
      Če potrditvenega maila ne najdete, poskusite z iskanjem
      &nbsp; 
      %code team@rails.si in:spam
  .elsewheres
    %p
      = form.label :password, "Geslo"
    %p
      = form.password_field :password
    %p
      = form.label :password_confirmation, "Geslo ponovno"
    %p
      = form.password_field :password_confirmation
      
  .buttons= form.submit 'Registracija', :disable_with => 'Prosimo počakajte...'