= title @user
.avatar= image_tag @user.gravatar_url(:size => 210)

.moreinfo
  .about= @user.about
  %ul
    - if @user.homepage?
      %li.homepage
        %h3 DomaÄa stran
        %p.link= link_to_self @user.homepage
    - if @user.linkedin?
      %li.linkedin
        %h3 Linked in
        %p.link= link_to_self @user.linkedin
    - if @user.twitter?
      %li.twitter
        %h3 Twitter
        %p.link= link_to_twitter @user.twitter
    - if @user.github?
      %li.github
        %h3 Github
        %p.link= link_to_github @user.github

- if @user.posts.size > 0 && false
  #topics
    %h2 Diskusije
    %ol#posts
      - @user.posts.limited(5).each_with_index do |post, i|
        %li{:class => "post post_#{i}"}
          %h3= link_to post.topic, topic_posts_path(post.topic, :anchor => post.anchor, :page => post.page)
          %p.trunc= truncate(strip_tags(post.cached_body_html), 200)
          %p.date=l post.created_at, :format => :simple
- if @user.feed && @user.feed.entries.size > 0
  - if @user.tweets.size > 0    
    #blogs
      %h2 Blogi
      - if @user.feed
        - entries = @user.feed.entries.limited(15)
        %ol#entries= render entries
    #twitter
      %h2 Tweeti
      %ol#tweets= render @user.tweets.limited(entries.size * 2)
  - else
    #blogs.blogs_only
      %h2 Blogi
      - if @user.feed
        %ol#entries= render @user.feed.entries.limited(15)
- else
  - if @user.tweets.size > 0
    #twitter.tweets_only
      %h2 Tweeti
      %ol#tweets= render @user.tweets.limited(15)