= title "Razvijalci in aplikacije", false

#developers
  %h2 Razvijalci
  = render @users
  
#apps
  %h2 Aplikacije
  = render @apps
  
#projects
  %h2 Projekti
  %ul= render @projects
  
.crud= link_to "Nova aplikacija", new_app_path