= title "Razvijalci in aplikacije", false
%h1 Razvijalci
#developers
  = render :partial => 'users/image_with_link', :collection => @users, :locals => {:size => 69}
  
#apps
  %h2 Aplikacije
  %ul
    = render @apps
  %p.crud
    = link_to "Nova aplikacija", new_app_path
  
#projects
  %h2 Projekti
  %ul= render @projects
  


