= title "Dogodki"
#events
  - @events.each do |event|
    %h2= link_to event.title, event
    %p.time
      = l event.date, :format => :simple
    %p.desc
      =event.description
    %p.loc
      =event.location
  %p.crud
    =link_to "Nov dogodek", new_event_path
= title "Predavanja", true, "secondary"
#presentations
  - @presentations.each do |presentation|
    %h2= link_to presentation.title, presentation