= title "Dogodki"
#events
  - @events.each_with_index do |event, i|
    .event{:class => "event_#{i}"}
      %h2= link_to event.title, event
      %p.time
        =l event.date, :format => :simple
      %p.desc
        =event.description
      %p.loc
        =event.location
  %p.crud
    =link_to "Nov dogodek", new_event_path
= title "Predavanja", true, "secondary"
#presentations
  - @presentations.each do |presentation|
    .presentation
      %h2
        = link_to presentation.title, presentation
      %p.speaker
        == by #{presentation.speaker}
      .description
        = presentation.description_html
  %p.crud
    =link_to "Novo predavanje", new_presentation_path