= title "Dogodki"
#events
  - @events.each_with_index do |event, i|
    .event{:class => "event_#{i}"}
      %h3= link_to event.title, event
      %p.time
        =l event.date, :format => :simple
      %p.desc
        =event.description
      %p.loc
        =event.location
  %p.crud
    = link_to "Nov dogodek", new_event_path
    
%h1.secondary Predavanja
#presentations
  - @presentations.in_groups_of(2) do |presentation_pair|
    .presentation_pair
      - presentation_pair.each do |presentation|
        - unless presentation.nil?
          .presentation
            %h3
              = link_to presentation.title, presentation
            %p.speaker
              == #{presentation.speaker}
            .description
              = presentation.description_html
  %p.crud
    = link_to "Novo predavanje", new_presentation_path