- content_for :beta_sidebar do
  %ul#jobs
    - @recent_jobs.each do |job|
      %li
        %h3= link_to job.title, job
        %p= truncate(job.description, :length => 250)

#content
  #topics.row
    %h2= link_to 'Diskusije', topics_path
    %table
      - @recent_topics.each do |topic|
        %tbody
          %tr
            %td.title
              %h3= link_to topic.title, topic_posts_path(topic)
            %td.postcount
              %p= pluralize_posts topic.posts.count
          %tr
            %td.user
              %p
                by
                = topic.user
            %td.infos
              %p
                = topic.created_at.to_s(:time)
                on
                = topic.created_at.to_s(:fancy_date)

  #presentations
    %h2= link_to 'Predavanja', events_and_presentations_path(:anchor => "presentations")
    %ul
      - @recent_presentations.each do |presentation|
        %li
          %h3= link_to presentation.title, presentation
          %p== by #{presentation.speaker}
  
  #events
    %h2= link_to "Dogodki", events_and_presentations_path(:anchor => "events")
    - if @upcoming_event
      %h3= link_to @upcoming_event.title, @upcoming_event
      %p.time 
        = @upcoming_event.date.to_s(:time)
        on
        = @upcoming_event.date.to_s(:fancy_date)
      %p.loc
        = @upcoming_event.location
    - else
      %p.none Trenutno ni napovedanih dogodkov.
    
  #blogs
    %h2= link_to "Blogi", blogs_and_tweets_path(:anchor => "blogs")
    %ul
      - @recent_blogs.each do |blog|
        %li
          = link_to blog.title, blog.normalized_url

  #twitter
    %h2= link_to "Tweeti", blogs_and_tweets_path(:anchor => "blogs")
    %ol
      = render @recent_tweets

  #apps
    %h2= link_to "Aplikacije", developers_and_apps_path(:anchor => "apps")
    %ul
      - @recent_apps.each do |app|
        %li= link_to app, app.homepage_url

  #people
    %h2= link_to "Razvijalci", developers_and_apps_path(:anchor => "developers")
    = render :partial => 'users/image_with_link', :collection => @users
      