- content_for :javascripts do
  = event_map @next_event

= title "Dogodki"
- unless @events.empty?
  - @events.each do |event|
    .quarter>
      %p.date
        %span= l event.date, :format => :simple
      %h3= link_to h(event.title), event
      %p= truncate_html event.cached_description_html, :omission => "... #{link_to 'Beri dalje...', event}"

  = will_paginate @events
- else
  %p NiÄ ne dogaja.

.crud
  %p= link_to 'Nov dogodek', new_event_path

