- content_for :javascripts do
  = event_map @event

= title @event.title
.details
  %p.location
    = @event.location
  %p.date
    = l @event.date, :format => :simple

  .description
    = @event.cached_description_html
  
  %p.meetup.topic  
    - if @event.meetup_url
      = link_to "Povezava do Meetup dogodka", @event.meetup_url
    - if @event.topic
      = link_to "Povezava do diskusije", topic_posts_path(@event.topic)

- if current_user and current_user.owns_event?(@event)
  .crud
    %p= link_to 'Uredi', edit_event_path(@event)

/ #map
