= error_messages_for :app

- form_for @app do |form|
  .personals
    %p
      = form.label :name, "Ime <span class='instruct'>(naj bo kratko)</span>"
    %p
      = form.text_field :name
  .elsewheres
    %p
      = form.label :homepage_url, "URL doma훾e strani"
    %p
      = form.text_field :homepage_url
    %p
      = form.hidden_field :user_id
      &nbsp;
  .buttons
    
    = form.submit 'Shrani', :disable_with => 'Prosimo po훾akajte...'
    - unless @app.new_record?
      %p.crud.remove
        = link_to 'Odstrani', app_path(@app), :method => :delete, :confirm => 'Ste prepri훾ani, da 탑elite odstraniti aplikacijo?'
    
