= error_messages_for :app

- form_for @app do |form|
  %p
    = form.label :name, "Ime"
  %p
    = form.text_field :name

  %p
    = form.label :homepage_url, "URL domače strani"
  %p
    = form.text_field :homepage_url
    
  .buttons
    = form.hidden_field :user_id
    = form.submit 'Shrani', :disable_with => 'Prosimo počakajte...'
