!!! Strict
%html
  %head
    %title= yield(:title) || "Ruby on Rails Slovenija"
    = stylesheet_link_tag 'style', :media => 'screen'
    = javascript_include_tag :defaults, :cache => true
    = yield :head
  %body{body_attrs}
    #wrap
      = render :partial => '/shared/header'
      = partial 'shared/flashes'
      = partial 'shared/subnav'
      #content
        = yield
      = partial 'shared/footer'
    = yield :javascripts