!!! Strict
%html
  %head
    %title= yield(:title) || "Ruby on Rails Slovenija"
    = stylesheet_link_tag 'style', :media => 'screen'
    = javascript_include_tag :defaults, :cache => true
    = yield :head
  %body{body_attrs}
    #wrap
      = partial '/shared/header'
      = partial 'shared/subnav'
      #content
        = partial 'shared/flashes'
        = yield
      = partial 'shared/footer'
    = yield :javascripts
    = partial "shared/analytics" if Rails.env.production?